html {
    box-sizing: border-box;
    font-family: karla;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.card {
    max-width: 576px;
    box-shadow: 1px 0px 7px 2px rgba(0,0,0,0.4);
    border-radius: 10px;
    overflow: hidden;
}

.top-section {
    height: 45%;
    background-color: whitesmoke;
    padding: 20px;
}

.top-section h2 {
    color: #2ab2af;
    font-size: 2rem;
}

.top-section h4 {
    color: #c0df34;
    font-size: 1.5rem;
    margin-bottom: 0px;
}

.top-section p {
    color: #98a6bd;
    font-size: 1.2rem;
    padding-top: 0px;
}

.bottom-section {
    display: flex;
    flex-direction: column;
    height: 55%;
}

.bottom-left-section {
    background-color: #2ab2af;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.bottom-left-section h4 {
    font-size: 2rem;
    margin-bottom: 15px;
    justify-items: center;
}

.pricing {
    display: flex;
    align-items: center;
}

.dollar {
    font-size: 2rem;
    font-weight: 700;
}

.frequency {
    margin-left: 10px;
    opacity: 0.8;
}

button {
    background-color: #c0df34;
    border: none;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
button:hover {
    cursor: pointer;
    background-color: #a9c42d;
    transform: scale(1.02);
}

.bottom-right-section {
    background-color: #2ebfbd;
    color: white;
    padding-left: 20px;
}

.bottom-right-section h4 {
    font-size: 2rem;
    margin-bottom: 20px;
}

ul {
    font-size: 1.2rem;
    list-style: none;
    padding: 0;
    opacity: 0.8;
}

@media (min-width: 576px) {
    .container {
        display: flex;
        justify-content: center;
    }
    .card {
        max-width: 720px;
    }

    .bottom-section {
        flex-direction: row;
    }

    .bottom-left-section, .bottom-right-section {
        width: 50%;
    }
}

@media (min-width: 992px) {
    
}
